

</body>
<footer class="mt-5 p-4 bg-dark text-white text-center">
    Web design + code 2023 <br>
    Callum Hui <br>
    <a href="https://github.com/Callumwhhui" target="_blank"><img class= "github"src="https://i.imgur.com/7Z9lSFw.png" alt="github"></a>
    <a href="https://www.linkedin.com/in/callum-hui-55776127a/" target="_blank"><img class= "linkedin" src="https://i.imgur.com/h52YoDS.png" alt="linkedin"></a>
</footer>
</html>