body {
  font-family: 'Ysabeau Infant', sans-serif;
  background-color: #6e7376;
}

a {
  color: #00B7FF;
}


#contact-table {
  padding: 10px;
  border-radius: 10px;

}


img {
  height: 200px;
  background: #aaa;
}

footer{
  margin-top: auto;
}
.github {
  height: 30px;
  margin: 10px;
  background-color: rgba(34, 34, 34, 0.677);
}

.linkedin {
  height: 30px;
  margin: 10px;
  background-color: rgba(34, 34, 34, 0.677);

}